.details {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: calc(100vh - 100px);
    margin-top: 2rem;
    z-index: 1;
    color: #000;
    .list {
      display: flex;
      flex-direction: column;
      width: calc(100% - 4rem);
      margin-bottom: 2rem;
      overflow: scroll;
      .head {
        display: flex;
        justify-content: space-between;
        border-radius: 1.9rem 1.9rem 0px 0px;
        min-width: 768px;
         padding: 1rem;
        font-size: 0.9rem;
        font-weight: 600;
        border: 1px solid #cccccc;
        background-color: white;
        
        .id {
          width: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .name {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .email {
          width: 15%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .phone {
          width: 14%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .exp {
          width: 8%;
          margin: 0rem calc(0.5rem + 0.1vw);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .skills {
          width: 21%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .status {
          width: 12%;
          display: flex;
          align-items: center;
          justify-content: center;
     
        }
      }
      .table{
        border-radius: 0rem 0rem 1.9rem 1.9rem;
        border: 1px solid #cccccc;
        border-top: 0;
      .row {
        display: flex;
        min-width: 768px;
        padding: 1rem;
        justify-content: space-between;
        border: 1px solid #cccccc;
        border-left: 0;
        border-right: 0;
        font-size: 0.9rem;
        background-color: white;
        border-top: 0px;
        .id {
          width: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .name {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .email {
          width: 15%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .phone {
          width: 14%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .exp {
          width: 8%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .skills {
          width: 21%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .status {
          width: 12%;
          display: flex;
          align-items: center;
          justify-content: center;
         
        }
        &:last-child {
          border-bottom: 0;
        }
        &:hover {
          background-color: #eff1f7;
          cursor: pointer;
        }
      }
    }
    }
    .list::-webkit-scrollbar {
     display: none;
    }
     
    .list::-webkit-scrollbar-track {
      background-color: #FFF;
      border-radius: 0px;
      
    }
    .list::-webkit-scrollbar-thumb {
      background-color: #6C74CA;
      border-radius: 10px;
      height: 0px;
    }
  }
  .progressBar{
    height: calc(100vh - 170px);
  }
  